/*********************************************
 * SLIDES
 *********************************************/

#intro {
	backdrop-filter: blur(10px);
}

#intro * {
	text-shadow: 3px 3px #313131;
}

#l1 *,
#l2 *,
#l3 *,
#l4 * {
	background-color: rgb(0,0,0, 0.7);
}

#p1 *, 
#p2 {
	background-color: rgb(0,0,0, 0.7);
}

#a1 *, 
#a2 *, 
#a3 *, 
#a4, 
#a5 *, 
#a6 * {
	background-color: rgb(0,0,0, 0.7);
}

#o1, 
#o2 {
	background-color: rgb(0,0,0, 0.7);
}

#f1, 
#f2 {
	background-color: rgb(0,0,0, 0.7);
}

#n1 *, 
#n2 {
	background-color: rgb(0,0,0, 0.7);
}

#r1, 
#r2 {
	background-color: rgb(0,0,0, 0.7);
}

#e1, 
#e2, 
#e3 {
	background-color: rgb(0,0,0, 0.7);
}

.emphasis {
	color: greenyellow;
}

.emphasis-bold {
	font-weight: bold;
	color: goldenrod;
}